<div class="center border-bottom">
  <a href="http://ellerynz.github.io">
    <h1 class="header">ELLERY PRISK</h1>
  </a>
  <ul class="nav">
    <li><a href="mailto:hello@ellerynz.com"><i class="fi-mail"></i></a></li>
    <li><a href="https://github.com/ellerynz"><i class="fi-social-github"></i></a></li>
    <li><a href="http://www.linkedin.com/pub/ellery-prisk/78/29a/b89"><i class="fi-social-linkedin"></i></a></li>
    <li><a href="https://twitter.com/ellerynz"><i class="fi-social-twitter"></i></a></li>
  </ul>
</div>