<div class="center">
  <div class="small-12 large-3 columns">
    <div class="semi-circle"></div>
    <div>
      <div class="circular-image">
        <img src="https://plus.google.com/s2/photos/profile/116350849037023121313?sz=100" alt="Ellery's Google Plus profile image" />
      </div>
      <div class="about-me">
        <p>Hi! I'm Ellery. I'm a Wellington based web developer.</p>
        <p>I dabble in Rails, Javascript, and Android</p>
      </div>
    </div>
    <div class="side-nav">
      <ul>
        <h3 class="header">POSTS</h3>
        {% for post in site.posts %} 
          <li><a href="{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
      <ul>
        <h3 class="header">PROJECTS</h3>
        <li><a href="#">My Tabata Timer</a></li>
      </ul>
    </div>
  </div>
</div>
