body {
  font-family: Gentium-Book-Basic, arial, helvetica, sans-serif;
  color: #666;
}

.center {
  text-align: center;
}

ul.nav {
  list-style-type: none;
}

.header {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.about-me {
  text-align: left;
}

.image-sub-text {
  font-size: 12px;
  text-align: center;
}

.image-right {
  float: right;
}

.image-long {
  max-width: 200px;
}

.image-middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

div.comments {
  margin-top: 20px;
}

.border-bottom {
  border: 1px solid #ccc;
  margin-bottom: 40px;
}

.circular-image img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  -webkit-border-radius:  150px;
  -moz-border-radius:     150px;
  -ms-border-radius:      150px;
  -o-border-radius:       150px;
  border-radius:          150px;
}

p, .content {
  font-family: Gentium-Book-Basic;
  font-size: 18px;
  line-height: 140%;

  h1, h2, h3, h4 {
    font-family: Gentium-Book-Basic, sans-serif;
    font-weight: 500;
  }
}

.secondary {
  display: none;
}

@media (min-width: 750px) {
  .secondary {
    display: block;
  }
}

a {
  text-decoration: none;
}
