body {
  font-family: Gentium-Book-Basic, arial, helvetica, sans-serif;
}

h1 .header {
  font-size: 2.125rem;
}

.center {
  text-align: center;
}

.side-nav ul, ul.nav {
  list-style-type: none;
  font-size: 25px;
}

.about-me {
  text-align: left;
}

.image-sub-text {
  font-size: 12px;
  text-align: center;
}

.image-right {
  float: right;
}

.image-long {
  max-width: 200px;
}

.image-middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

ul.nav li {
  display: inline;
  margin-right: 35px;
}

div.comments {
  margin-top: 20px;
}

.border-bottom {
  border: 1px solid #ccc;
  margin-bottom: 40px;
}

.semi-circle {
  height: 50px;
  width: 100px;
  border-radius: 100px 100px 0px 0px;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0px 0px;
  border: solid;
  position: absolute;
  top: -55px;
  left: 75px;
  border-color: #ccc #ff0000 #fff #fff;
  border-width: 1px 0px 36px 0px;
}

@media screen and (max-width:64.063em) {
  .semi-circle {
    display:none;
  }
}

.circular-image img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  -webkit-border-radius:  150px;
  -moz-border-radius:     150px;
  -ms-border-radius:      150px;
  -o-border-radius:       150px;
  border-radius:          150px;
}

p, .content {
  font-family: Gentium-Book-Basic;
  font-size: 18px;
  line-height: 140%;
}

.side-nav li, .left {
  text-align: left;
} 
